.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

.about-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 37px;
  max-width: 476px;
}

.about-badge {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.04em;
}

.about-image {
  border-radius: var(--border-radius-60);
}

@media (max-width: 1280px) {
  .about-image {
    width: 40%;
  }
}

@media (max-width: 1024px) {
  .about-body {
    row-gap: 27px;
  }

  .about-image {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .about {
    flex-direction: column-reverse;
    row-gap: 40px;
  }

  .about-body {
    align-items: center;
    row-gap: 17px;
    text-align: center;
  }

  .about-image {
    width: 80%;
  }
}
