body {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 22px;
  line-height: 1.55;
  letter-spacing: 0.02em;
  color: var(--color-dark-green);
  background-color: var(--color-light-muted);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a,
button {
  &:active {
    scale: 0.97;
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }
}

h1, h2 {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

h1, .h1 {
  font-size: clamp(48px, 4.86vw, 70px);
}

h2, .h2 {
  font-size: clamp(36px, 3.61vw, 52px);
}

h3, .h3 {
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 0.02em;
}

::selection {
  color: var(--color-light);
  background-color: var(--color-dark-green);
}

:focus-visible {
  outline: 2px dashed var(--color-dark-green);
  outline-offset: 4px;
  transition-duration: 0s !important;
}
